include README.md
include pyproject.toml
include setup.py
recursive-include unicontext *.py *.pyx *.c
recursive-include _nimsrc *.nim *.nimble *.nims *.h
global-exclude *.dll *.dylib *.so *.a *.lib *.o *.obj
